<%= link_to 'notifications', all_notifications_path %>
<br>
<%= link_to 'friend requests', user_friend_requests_path(current_user) %>
<br>
<%= link_to 'friends', user_friends_path(current_user) %>
<br>
<%= link_to 'users', users_path %>

<hr>

<div class="p-2">
    Name: <%= current_user.name %>
    <br/>
    Email: <%= current_user.email %>
    <br/>
    Username: <%= current_user.username %>
    <br/>
    Phone Number: <%= current_user.phone_number %>
    <br/>
</div>

<br>

  <%#= render partial: "users/user", collection: @users, locals: {user: @user} %>
