<% @notifications = Notification.all.where(recipient: current_user.id) %>
<% @unread_notifications = Notification.all.where(recipient: current_user.id).unread %>
<% @earlier_notifications = Notification.all.where(recipient: current_user.id).where("notifications.read_at IS NOT NULL").order('created_at DESC') %>

<% earlier_notification_or_notifications = (@earlier_notifications.count == 1 ? "notification" : "notifications") %>
<% unread_notification_or_notifications = (@unread_notifications.count == 1 ? "notification" : "notifications") %>


<!-- Unread Notifications -->
<% if @unread_notifications.any? %>

<% @unread_notifications = Notification.all.where(recipient: current_user.id).unread.order('created_at DESC') %>

  <div class="grid grid-cols-6 gap-6">
    <div class="col-start-1 col-end-3 ">
      <p class="flex flex-nowrap text-2xl text-center">
        <%= @unread_notifications.count %> unread <%= @unread_notifications.count == 1 ? "notification" : "notifications" %>
      </p>
    </div>

    <div class=" col-end-8 pt-2">
      <% if @unread_notifications.any? %>
      <%= link_to 'mark all as read', mark_all_as_read_notifications_path, method: :post %>
      <% end %>
    </div>
  </div>

  <% @unread_notifications.each do |notification| %>
    <div class="grid grid-cols-6 gap-6">
      <div class="col-start-1 col-end-6 ">
        <p>
          new <%= link_to " #{notification.notifiable.class.to_s.underscore.humanize.downcase}", notification.notifiable %> from <%= link_to " #{notification.actor.name}", notification.actor %>
          <p class="text-xs text-gray-800 font-thin -mt-4">
            <%=  "#{time_ago_in_words(notification.created_at)} ago" %>
          </p>
        </p>
      </div>

      <div class=" col-end-8 pt-2">
        <%= link_to "mark as read", mark_as_read_path(notification), method: :post, class:"text-gray-500 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-xs font-medium"  %>
      </div>
    </div>

  <% end %>
<% end %>
