<% sent_request_to_user = current_user.friend_requests_as_requestor.all.where(requestor_id: current_user.id).all.where(receiver_id: user.id).any? %>

<% received_request_from_user = current_user.friend_requests_as_receiver.all.where(requestor_id: user.id).all.where(receiver_id: current_user.id).any? %>

<!-- <% if received_request_from_user %>
  <% received_request_id = current_user.friend_requests_as_receiver.all.where(requestor_id: user.id).all.where(receiver_id: current_user.id).first.id  %>
  <div class="">
  <p class="float-right px-2"> Friend Request ID: <%= received_request_id %></p>
  <p class="float-right px-2"> (Partial) User ID: <%= user.id %></p>
  <p class="float-right px-2"> current_user ID: <%= current_user.id %></p>
  </div>
  <br>
<% end %>

<% if sent_request_to_user %>
  <% sent_request_id = current_user.friend_requests_as_requestor.all.where(requestor_id: current_user.id).all.where(receiver_id: user.id).first.id %>
  <div class="">
  <p class="float-right px-2"> Friend Request ID: <%= sent_request_id %></p>
  <p class="float-right px-2"> (Partial) User ID: <%= user.id %></p>
  <p class="float-right px-2"> current_user ID: <%= current_user.id %></p>
  </div>
  <br>
<% end %> -->


<div class="p-4 border-t-2 border-r-2 border-b-2 border-l-4 border-gray-200">

    <div class="text-3xl pb-2">
      <div class="px-3 ">
        <div class="row justify-content-between">

          <% if locale_to != "Users#show" %>
            <%= link_to "#{user.name}", user_path(user) %>
          <% else %>
            <%= user.name%>
          <% end %>

          <% if user == current_user %>
              <span class="pt-3 text-sm text-gray-600"> (me)</span>
          <% elsif (sent_request_to_user == true) %>
              <span class="pt-3 text-sm text-gray-600"> pending</span>
          <% elsif (received_request_from_user == true) %>
            <span class="pt-3 text-sm text-gray-600"> accept request</span>
            <%#= render :partial => "friend_requests/request_buttons/delete_request_button", locals: { user:user} %>
          <% else  %>
            <%= render :partial => "friend_requests/request_buttons/add_friend_button", locals: { user: user} %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="p-4 border-2 border-gray-200">
      <div>  <span class="font-bold "> <%= user.name %> Info: </span> </div>
      <div> email: <%= user.email %> </div>
      <div> username: <%= user.username %> </div>
      <div> phone_number: <%= user.phone_number %> </div>
    </div>

    <% if received_request_from_user %>
      <% received_request_id = current_user.friend_requests_as_receiver.all.where(requestor_id: user.id).all.where(receiver_id: current_user.id).first.id  %>
      <div class=" p-4 ">
        <div class="row p-4 border-2 border-gray-200 text-center">
          <div class="font-bold pr-2 ">Friend Request Info: </div>
          <div> Friend Request ID: <%= received_request_id %> </div>
          <div> (Partial) User ID: <%= user.id %> </div>
          <div> current_user ID: <%= current_user.id %> </div>
        </div>
      </div>
      <br>
    <% end %>

    <% if sent_request_to_user %>
      <% sent_request_id = current_user.friend_requests_as_requestor.all.where(requestor_id: current_user.id).all.where(receiver_id: user.id).first.id %>
      <div class=" p-4 ">
        <div class="row p-4 border-2 border-gray-200 text-center">
          <div class="font-bold pr-2">Friend Request Info:</div>
          <div> Friend Request ID: <%= sent_request_id %> </div>
          <div> (Partial) User ID: <%= user.id %> </div>
          <div> current_user ID: <%= current_user.id %> </div>
        </div>
      </div>
      <br>
    <% end %>

</div>

<br>
<br>
