<% requested_by_current_user = current_user.friend_requests_as_requestor.all.where(requestor_id: current_user.id, receiver_id: user.id ).exists? %>

<div class="p-4 border-t-2 border-r-2 border-b-2 border-l-4 border-gray-200">

    <div class="text-3xl pb-2">
      <div class="px-3 ">
        <div class="row justify-content-between">
          <% if locale_to != "Users#show" %>
            <%= link_to "#{user.name}", user_path(user) %>
          <% else %>
            <%= user.name%>
          <% end %>

          <% if requested_by_current_user == false %>
            <%= render :partial => "friend_requests/request_buttons/add_friend_button", locals: { user: user, test_receiver_id: user.id} %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="p-4 border-2 border-gray-200">
      <div>
        email: <%= user.email %>
      </div>
      <div>
        username: <%= user.username %>
      </div>
      <div>
        phone_number: <%= user.phone_number %>
      </div>
    </div>

</div>

<br>
<br>
