<div class="text-center">
  <h1>Users#index</h1>
  <p>Find me in app/views/users/index.html.erb</p>
</div>

<% @users.each do |user| %>
  <div class="container p-4">
        <div class="p-4 border-t-2 border-r-2 border-b-2 border-l-4 border-gray-200">
          <br>
          <div class="text-2xl">
            Name: <%= user.name %>
          </div>
          <div>
            email: <%= user.email %>
          </div>
          <div>
            username: <%= user.username %>
          </div>
          <div>
            phone_number: <%= user.phone_number %>
          </div>
          <div>
            <br>
            <%= link_to 'Add Friend', root_path, class:"btn btn-outline-primary" %>
            <%#= link_to 'Add Friend', friendships_path(user), method: :post, class:"btn btn-outline-primary" %>
          </div>
          <br>
          <div class=" p-4 border border-white">
           <%= user.inspect %>
          </div>

          <div>
            <br>
            <%= link_to 'View', user_path(user), class:"btn btn-outline-success" %>
          </div>
        </div>
    </div>
<% end %>
