<%#= form_with(model: friend_request) do |form| %>
<%= form_with(model: FriendRequest.new) do |form| %>

    <%= form.hidden_field :requestor_id, value: current_user.id %>
    <%= form.hidden_field :receiver_id, value: @user.id %>
    <%= form.hidden_field :status, value: "pending" %>

    <div class="actions btn btn-outline-primary">
      <%= button_tag(type: 'submit') do %>
        add friend button
      <% end %>
    </div>

<% end %>
