<div class="py-1">
  <%= render :partial => "friend_requests/request_buttons/cancel_button", locals: { friend_request: friend_request, requestor_id: friend_request.requestor.id, receiver_id: friend_request.receiver.id} %>
</div>

<div class="py-1">
  <%= render :partial => "friend_requests/request_buttons/accept_button", locals: { friend_request: friend_request, requestor_id: friend_request.requestor.id, receiver_id: friend_request.receiver.id} %>
</div>

<div class="py-1">
  <%= render :partial => "friend_requests/request_buttons/reject_button", locals: { friend_request: friend_request, requestor_id: friend_request.requestor.id, receiver_id: friend_request.receiver.id} %>
</div>

<div class="py-1">
  <%= render :partial => "friend_requests/request_buttons/delete_request_button", locals: { friend_request: friend_request, requestor_id: friend_request.requestor.id, receiver_id: friend_request.receiver.id} %>
</div>

<div class="py-1">
  <%= render :partial => "friend_requests/request_buttons/make_prending_button", locals: { friend_request: friend_request, requestor_id: friend_request.requestor.id, receiver_id: friend_request.receiver.id} %>
</div>
