<%= form_with(model: friend_request) do |form| %>
  <% if friend_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friend_request.errors.count, "error") %> prohibited this friend_request from being saved:</h2>

      <ul>
        <% friend_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<br>
<div class="card px-4">
  <h3>Verify Friend Request</h3>
  <% if FriendRequest.where(requestor_id:current_user.id, receiver_id: user.id).present? %>

    <%=  User.joins(:friend_requests).where({ requestor_id: current_user.id, receiver_id: user.id }) %>
  <% end %>
</div>
<br>


  <div class="field">
    <%= form.label "Requestor" %>
    <%= form.text_field :requestor_id, value: current_user.username, readonly: true %>
    <%= form.hidden_field :requestor_id, value: current_user.id %>
    <br>
    <%= form.label :receiver_id %>
    <%= form.text_field :receiver_id, value: user.username, readonly: true %>
    <%= form.hidden_field :receiver_id, value: user.id %>
    <br>
    <%= form.label "Status" %>
    <br>
    <% if friend_request.present? %>
      <%#= form.text_field :status, value: "#{friend_request.status}", readonly: true %>
      <%= friend_request.status %>
    <% else %>
      Accept
      <%= form.radio_button :status, 'accepted' %>
      Reject
      <%= form.radio_button :status, 'rejected' %>
      Cancel
      <%= form.radio_button :status, 'canceled' %>
    <% end %>
  </div>



  <!-- <div class="actions">
    <%#= form.submit %>
  </div> -->
  <div class="py-2">
    <div class="actions btn btn-outline-primary">
      <%= button_tag(type: 'submit') do %>
        Add Friend
      <% end %>
    </div>
  </div>

<% end %>
