<% if (current_user.id == friend_request.requestor_id) %>
  <%= link_to "You", user_path(friend_request.requestor) %> sent a <%= link_to "friend request", friend_request_path(friend_request) %> to <%= link_to "#{friend_request.receiver.name}", user_path(friend_request.receiver) %>
<% else %>
   <%= link_to "#{friend_request.requestor.name}", user_path(friend_request.friend_request.requestor) %> sent a <%= link_to "friend request", friend_request_path(friend_request) %> to <%= link_to "#{friend_request.receiver.name}", user_path(friend_request.receiver) %>
<% end %>
<br>
<%= "Request: #{friend_request.status.capitalize}" %>
<br>
<p class="text-sm text-gray-800"> <%=  "#{time_ago_in_words(friend_request.created_at)} ago" %> </p>
<hr>

<%= link_to 'Delete Request', friend_request, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %>


<%#= render :partial => "friend_requests/options_modal", locals: { friend_request: @friend_request} %>
