<h1>Friend Requests Index</h1>
<br>

<div class="p-4">
  <div class="border-t-2 border-r-2 border-b-2 border-l-4 border-gray-200 p-4">
    <p class="text-3xl">My Friend Requests</p>
    <%#= render "friend_requests/as_requestor" %>
    <%#= render "friend_requests/as_receiver" %>
    <%= render "friend_requests/as_requestor_or_receiver_card" %>

  </div>
</div>

<!-- <div class="p-4">
  <div class="border-t-2 border-r-2 border-b-2 border-l-4 border-gray-200 p-4">
    <p class="text-3xl">Rendered FriendRequests from
      <p class="text-2xl">
        app/views/friend_requests/_friend_request.html.erb
      </p>
    </p>
    <hr>
    <%= render partial: "friend_request", collection: @friend_requests %>
  </div>
</div> -->


<div class="p-4">
  <div class="border-t-2 border-r-2 border-b-2 border-l-4 border-gray-200 p-4">
    <p class="text-3xl">All Friend Requests (For Entire App) </p>

        <% @friend_requests.each do |friend_request| %>

        <%= link_to "#{friend_request.requestor.name}", user_path(friend_request.requestor) %> sent a <%= link_to "friend request", friend_request_path(friend_request) %> to <%= link_to "#{friend_request.receiver.name}", user_path(friend_request.receiver) %>
        <br>
        <%= "Request: #{friend_request.status.capitalize}" %> <%= get_friendship_status(friend_request) %>
        <br>
        <p class="text-sm text-gray-800"> <%=  "#{time_ago_in_words(friend_request.created_at)}" %> </p>
        <hr>

        <% end %>

  </div>
</div>

<br>
