<%= render partial: "friend_requests/admin_form", locals: {friend_request: @friend_request} %>

<br>

<div class="p-4">
  <div class="border-t-2 border-r-2 border-b-2 border-l-4 border-gray-200 p-4">
    <div class="px-2 row justify-content-between text-3xl">
        Friend Requests
      <span>
        <%= @recieved_friend_requests.count%> Friend Requests
      </span>
    </div>
    <br>
    <%= render partial: "friend_request", collection: @recieved_friend_requests %>
  </div>
</div>

<br>

<%= render partial: "friend_requests/my_friend_requests" %>

<br>

<%= render partial: "friend_requests/all_friend_requests" %>
