<!-- <%#= link_to "#{@friend_request.requestor.name}", user_path(@friend_request.requestor) %> sent a Request to <%#= link_to "#{@friend_request.receiver.name}", user_path(@friend_request.receiver) %> -->

<% if (current_user.id == @friend_request.requestor_id) %>

  <%= link_to "You", user_path(@friend_request.requestor) %> sent a friend request to <%= link_to "#{@friend_request.receiver.name}", user_path(@friend_request.receiver) %>


<% elsif (current_user.id == @friend_request.receiver_id) %>

  <%= link_to "#{@friend_request.receiver.name}", user_path(@friend_request.receiver_id) %>  sent you a friend request

<% else %>

<%= link_to "#{@friend_request.requestor.name}", user_path(@friend_request.requestor) %> sent <%= link_to "#{@friend_request.receiver.name}", user_path(@friend_request.receiver) %> a <%= link_to "friend request", friend_request_path(@friend_request) %>


<% end %>
<br>
<%= "Request: #{@friend_request.status.capitalize}" %>
<br>
<p class="text-sm text-gray-800"> <%=  "#{time_ago_in_words(@friend_request.created_at)} ago" %> </p>
<hr>

<%#= render :partial => "friend_requests/request_buttons/cancel_button", locals: { friend_request: @friend_request, requestor_id: @friend_request.requestor.id, receiver_id: @friend_request.receiver.id} if current_user == @friend_request.requestor %>

<%#= render :partial => "friend_requests/request_buttons/delete_request_button", locals: { friend_request: @friend_request, requestor_id: @friend_request.requestor.id, receiver_id: @friend_request.receiver.id} if current_user == @friend_request.requestor %>


<%= render :partial => "friend_requests/options_modal", locals: { friend_request: @friend_request, requestor_id: @friend_request.requestor.id, receiver_id: @friend_request.receiver.id} %>
