<!DOCTYPE html>
<html>
  <head>
    <title>FriendFund</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class=" bg-gradient-to-r from-green-400 to-blue-500">

    <%#= render "shared/navbar"%>
    <%= render "shared/navbar2"%>
    <div class="font-sans h-screen w-full">
      <!-- <div class="h-screen bg-gradient-to-r from-green-400 to-blue-500"> -->
      <div class="h-screen">
      <div class="py-8">
       <div class="relative w-full">

           <%= render partial: "shared/flash"%>
           <h1 class="text-center animate-pulse font-bold text-gray-200 text-2xl mb-6">
            Welcome <%= current_user.name if current_user%>
            <br/>
            Locale To: <%= locale_to %>
           </h1>

          <div class="container">

          <%# if current_user %>
          <!-- <ul class="nav nav-tabs nav-justified no-decoration">
            <li class="nav-item ">
              <span class="nav-link <%#= class_names(active: current_page?(dashboard_url)) %> ">
                  <%#= link_to 'dashboard', dashboard_path, class:'text-gray-500 font-bold  hover:text-gray-300 ' %>
              </span>
            </li>
            <li class="nav-item ">
              <span class="nav-link <%#= class_names(active: current_page?(users_url)) %> ">
                  <%#= link_to 'users#index', users_path, class:'text-gray-500 font-bold  hover:text-gray-300 ' %>
              </span>
            </li>
            <li class="nav-item ">
              <span class="nav-link <%#= class_names(active: current_page?(friend_requests_url)) %> ">
                  <%#= link_to 'friend requests', user_friend_requests_path(current_user), class:'text-gray-500 font-bold  hover:text-gray-300 ' %>
              </span>
            </li>
          </ul> -->
          <%# end %>


            <div class=" bg-gradient-to-r from-green-200 to-blue-300 p-4">
              <%= yield %>
            </div>

            <% if @locale_to != "Pages#home" %>
            <div class="py-4">
              <div class="text-center">
               <%= link_to "Back", :back, class:"btn btn-primary" %>
              </div>
            </div>
            <% end %>

          </div>

       </div>
      </div>
     </div>
    </div>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script type="text/javascript">
      setTimeout(function(){
        $('.msg-container').fadeOut().remove();
      }, 3000);
      // $(".msg-container").delay(4000).fadeOut().remove();
    </script>

  </body>
</html>
